@media screen and (max-width: 1024px){
    html {
    font-size: 12px;
    }
}

@media screen and (max-width: 768px){
    html {
    font-size: 10px;
    }
}

@media screen and (max-width: 400px){
    html {
    font-size: 9px;
    }
}

.body {
    font-family: "Inter";
}

.header-wrapper {
    padding: 31px 0;
    background-color: #000000;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

@media screen and (max-width: 1024px) {
    .header-wrapper {
        padding: 20px 0;
    }
}

@media screen and (max-width: 555px) {
    .header-wrapper {
        padding: 10px 0;
    }
}

.header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #000000;
}

.header__burger {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

@media screen and (max-width: 1215px) {
    .container {
        padding: 0 15px;
    }
}

.navigation {
    display: flex;
    flex-grow: 2;
    flex-basis: 0;
}

.navigation__list {
    display: flex; 
    column-gap: 30px;
    position: relative;
    z-index: 4;
}


@media screen and (max-width: 1024px) {
    .navigation__list {
        column-gap: 20px;
    }
}

.logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    z-index: 4;
}


.navigation__link {
    font-size: 1.71rem;
    color: #717171;
}

.header__number-box {
    display: flex;
    flex-grow: 2;
    flex-basis: 0;
    justify-content: end;
    z-index: 3;
}

.number-phone {
    color: #717171;
    font-size: 1.71rem;
}

@media screen and (max-width:768px) {

    .logo {
        display: block;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        
    }
    .header__burger span {
        position: absolute;
        background-color: rgb(255, 255, 255);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.2s ease 0s;
        
    }
    .header__burger:before ,
    .header__burger:after {
        content: "";
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .navigation ,
    .header__number-box {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;

        background-color: #dbdbdb;
        transition: all 0.5s ease 0s;
        display: block;
        text-align: center;
        padding: 40px;
    }

    .header__number-box {
        top: 190px;
    }


    .navigation.active {
        left: 0;
        top: 60px;

    }
    .header__number-box.active {
        left: 0px;
        top: 200px;
    }
    .navigation__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }
    .navigation__item {
        border-bottom: 1px solid rgb(184, 184, 184);
        padding: 10px 0;
    }
    .navigation__item:nth-child(3) {
        border-bottom: none;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 555px) {
    .header__number-box.active {
        top: 180px;
    }
    .navigation.active {
        left: 0;
        top: 40px;

    }
}

/* main section-choice*/

.section-choice {
    background-color: #F5F5F7;
    padding-top: 189px;
    padding-bottom: 40px;
}

@media screen and (max-width: 1024px) {
    .section-choice {
        padding-top: 140px;
    }
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.choice__title-box {
    margin-bottom: 40px;
}

.choice__title {
    color: #490E84;
    font-size: 4.57rem;
    font-weight: bold;
    text-transform: uppercase;
}

.choice__img-box {
    margin-bottom: 25px;
}

.choice__img{
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .choice__img-box {
        margin-bottom: 25px;
        padding: 20px;
    }
}

.header__btn {
    text-transform: uppercase;
    color: white;
    font-size: 1.71rem;
    background-color: #490E84;
    padding: 20px 117px;
    border-radius: 30px;
}

@media screen and (max-width: 555px) {
    .header__btn {
        padding: 15px 70px;
    }
}

.section-choice-color {
    padding-top: 70px;
    margin-bottom: 134px;
}

.choice-color__wrapper-phones {
    display: flex;
    gap: 80px 70px;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 1024px) {

    .choice-color__wrapper-phones  {
      gap: 40px 90px;
    }
}

.choice-color__phone {
    text-align: center;
}

.choice-color__title-box {
    margin-bottom: 50px;
}

.choice-color__img {
    margin-bottom: 20px;
    width: 100%;
}

.title {
    font-size: 2.29rem;
    color: #717171;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.choice-color__title-color {
    font-size: 1.42rem;
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
}

.choice-color__text {
    font-size: 1.4rem;
}

.choice-color__link {
    color: black;
}

/* section-want-iphone */

.want-iphone {
    display: flex;
    
}

@media screen and (max-width: 800px) {
    .want-iphone  {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.want-iphone__form-box {
    background-color: #574B63;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    flex-shrink: 3;
}

@media screen and (max-width: 800px) {
    .want-iphone__form-box  {
     padding: 70px 0 30px 0;
    }
}

/* 
@media screen and (max-width: 950px) {
    .want-iphone__form-box {
        padding: 0 114.5px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 550px) {
    .want-iphone__form-box {
        padding: 0 75.5px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 475px) {
    .want-iphone__form-box {
        padding: 0 35.5px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 390px) {
    .want-iphone__form-box {
        padding: 0 0 25px 0;
    }
} */

/* .want-iphone__title-box {
    margin-top: 137px;
    margin-bottom: 72px;
}

@media screen and (max-width: 950px) {
    .want-iphone__title-box {
     margin-top: 80px;
    }
} */


.want-iphone_title {
    color: white;
}

.want-iphone__form {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.want-iphone__input  {
    /* padding-right: 284px; */
    padding-bottom: 10px;
    width: 100%;
    max-width: 400px;
    align-self: center;
    background-color: #574B63;
    margin-bottom: 30px;
    border-bottom: 1px solid #F5F5F5;
}

/* /* @media screen and (max-width: 950px) {
    .want-iphone__input {
       padding-right: 100px;
    }
} */

.want-iphone__title-box {
    margin-bottom: 72px;
}


.want-iphone__text {
    color: rgba(255, 255, 255, 0.5);
    line-height: 130%;
    text-align: center;
}

@media screen and (max-width: 630px) {
    .want-iphone__text {
        text-align: center;
    }
}

.want-iphone__btn {
    margin-top: 30px;
    background-color: white;
    color: #490E84;
    font-weight: bold;
    line-height: 130%;
    width: 100%;
    font-size: 1.42rem;
    align-self: center;
    max-width: 240px;
    padding: 16px 0;
    border-radius: 30px;
}

.want-iphone__img-box {
    flex-shrink: 2;
}

.want-iphone__img {
    max-width: 100%;
}

/* footer */

.footer {
    background-color: #0A0A0A;
}

.footer__wrapper {
    padding: 51px 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .footer__wrapper {
        padding: 20px 0;
    }
}

@media screen and (max-width: 555px) {
    .footer__wrapper {
        padding: 10px 0;
    }
}

.footer__text-box {
    display: flex;
    flex-grow: 2;
    flex-basis: 0;
}

.footer__text {
    color: #717171;
}

.footer__number-box {
    display: flex;
    flex-grow: 2;
    flex-basis: 0;
    justify-content: end;
}

@media screen and (max-width: 555px) {
    .footer__number-box {
        display: none;
    }
}

.footer_logo {
    display: flex;
}

@media screen and (max-width: 555px) {
    .footer_logo {
        justify-content: end;
    }
}

