@import "./reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$lh: 14px;

body {
    font-family: "Roboto";
    margin: 0;
    background-color: rgb(150, 150, 150);
  }
  
  .stars {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: space-between;
  }
  
  .stars__star {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./images/star.svg);
  }
  
  .stars__star:last-child {
    margin-right: 0;
  }
  
  .stars--0 .stars__star:nth-child(-n + 4), {
    background-image: url(./images/star-active.svg);
  }

  .section {
    display: flex;
    justify-content: center;
  }

  .card {
    background-color:white ;
    max-width: 200px;
    padding: 32px 16px 16px 19px;
    border-radius: 5px;
    border: 1px solid #F3F3F3;
  }

  .card__img-box {
    text-align: center;
    margin-bottom: 40px;
  }

  .card__title-product {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 4px;
  }

  .card__product-code {
    font-size: 10px;
    line-height: $lh;
    color: #616070;
  }

  .card__product-reviews {
    font-size: 10px;
    line-height: $lh;
  }

  .card__wrapper-price {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .card__price {
    font-size: 12px;
    line-height: 18px;
    color: #616070;
  }

  .card__price-total {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }

  .card__button {
    background-color: #00ACDC;
    padding: 12px 0;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }

  .card__button:hover {
    background-color: white;
    color: #00ACDC;
    border: 1px solid #00ACDC;
    padding: 11.5px 0;
  }

